<!doctype html>
<html>

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"><title>
    {% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>

<body><center>
    <button class="btn-blue"><a href="/">All Garage Cars</a></button>
    <button class="btn-chocolate"><a href="/newcar">Add a new Car</a></button>
</center>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright By Paz.
        {% endblock %}
    
    </div>
</body>

</html>
